@use 'abstracts';
@use 'theme';
@use 'vendor';
@use 'layout';
@use 'pages';

// @import './../../node_modules/toastr/toastr';
// @import './../../node_modules/notyf/notyf.min';
@import './../../node_modules/dropzone/dist/basic';


* {
    box-sizing: border-box;
    text-decoration: none !important;
    outline: 0;
    padding: 0;
    margin: 0;
}


